<a href="https://colab.research.google.com/github/vu-bigdata-2020/homework-1/blob/master/mlb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.5MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [0]:
import pymysql


class DB:
    def __init__(self):
        try:
          self.conn = pymysql.connect(
              user='update-me'#@param {type:"string"},
              password='update-me'#@param {type:"string"},
              host='database-3.cru0oxwnnqay.us-east-1.rds.amazonaws.com-update-me'#@param {type:"string"}
              #database='mydb'
          )

        except Exception as e:
            print("I am unable to connect to the database - bye " + str(e))
            exit()
        print('Got a DB connection!- hurray')
        self.cur = self.conn.cursor()

    def cursor(self):
        return self.cur

    def getNewCursor(self):
        return self.conn.cursor()

    def connection(self):
        return self.conn

    def query(self, q):
        self.cur.execute(q)
        try:
          output=self.cur.fetchone()
          return self.cur.fetchall()
        except Exception as e:
          print('no result to return')
          return

Implement the following queries

1. The number of all stars in allstarfull.
2. The most home runs in a season by a single player (using the batting table).
3. The playerid of the player with the most home runs in a season.
4. The number of leagues in the batting table.
5. Barry Bond's average batting average (playerid = 'bondsba01') where batting average is hits / at-bats. Note you will nead to cast hits to get a decimal: cast(h as real)
6. The teamid with the fewest hits in the year 2000 (ie., yearid = '2000'). Return both the teamid, and the number of hits. Note you can use ORDER BY column and LIMIT 1.
7. The teamid in the year 2000 (i.e., yearid = '2000')  with the highest average batting average. Return the teamid and the average. To prevent divsion by 0, limit at-bats > 0.
8. The number of all stars the giants (teamid = 'SFN') had in 2000.
9. The yearid which the giants had the most all stars.
10. The average salary in year 2000.
11. The number of positions (e.g., catchers, pitchers) that have average salaries greather than 2000000 in yearid 2000. You will need to join fielding with salaries. Also consider using a HAVING clause.
12. The number of errors Barry Bonds had in 2000. 
13. The average salary of all stars in 2000.
14. The average salary of non-all stars in 2000.

You can test each query result using the  corresponding tests in the notebook.

In [0]:
#as an example q1 and q3  have been already filled for you. Note the use of group by https://www.w3schools.com/sql/sql_groupby.asp to categorize the data by player id and year.
q1 = 'select count(*) from allstarfull;'
q3 = 'select playerid from batting INNER Join (select MAX(HR) as m from batting) as data ON batting.hr=data.m'

In [0]:
q2 = 'select 1'
q4 = 'select 1'
q5 = 'select 1'
q6 = 'select 1'
q7 = 'select 1'
q8 = 'select 1'
q9 = 'select 1'
q10 = 'select 1'
q11 = 'select 1'
q12 = 'select 1'
q13 = 'select 1'
q14 = 'select 1'

In [0]:
#the main function will execute all queries
def main():
    db = DB('lahman')
    for q in [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10, q11, q12, q13, q14]:
        for line in db.query(q):
            print(line[0])

And here are all the tests. You can run any of these tests directly and check the results against your query.

In [0]:
def test_q1():
    db = DB()
    assert db.query(q1)[0][0] == 4834

In [0]:
def test_q2():
    db = DB()
    assert db.query(q2)[0][0] == 73

In [0]:
def test_q3():
    db = DB()
    assert db.query(q3)[0][0] == 'bondsba01'

In [0]:
def test_q4():
    db = DB()
    assert db.query(q4)[0][0] == 7

In [0]:
def test_q5():
    db = DB()
    assert db.query(q5)[0][0] == 0.298305762860046

In [0]:
def test_q6():
    db = DB()
    assert db.query(q6)[0][0] == 'MIL'
    assert db.query(q6)[0][1] == 1366

In [0]:
    db = DB()
    assert db.query(q7)[0][0] == 'SEA'
    assert db.query(q7)[0][1] == 0.280799158489005

In [0]:
def test_q8():
    db = DB()
    assert db.query(q8)[0][0] == 2

In [0]:
def test_q9():
    db = DB()
    assert db.query(q9)[0][0] in ['1961', '1962']

In [0]:
def test_q10():
    db = DB()
    assert int(db.query(q10)[0][0]) == 1992984

In [0]:
def test_q11():
    db = DB()
    assert db.query(q11)[0][0] == 2

In [0]:
def test_q12():
    db = DB()
    assert db.query(q12)[0][0] == 3

In [0]:
def test_q13():
    db = DB()
    assert int(db.query(q13)[0][0]) == 5388841

In [0]:
def test_q14():
    db = DB()
    assert int(db.query(q14)[0][0]) == 1692309

In [4]:
# To run any test execute it below as follows. You will see it is failing because the DB connections settings in default notebook are not correct.
test_q14()

NameError: ignored

In [5]:
#To run the main function call main from the notebook here
if __name__ == '__main__':
    main()

NameError: ignored